.root {
    -fx-background-color: #eceff1;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-font: 20px "Arial";
    -fx-border-color: #cfd8dc;
    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #5c93fa;
    -fx-font: bold 14px "Arial";
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color:#4a7be0;
    -fx-font-size: 16px;
}

.button:pressed {
    -fx-background-color:#3b63b8;
    -fx-font-size: 18px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
}

.scroll-bar .thumb {
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

